.right-subs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subs-box {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 400px;
}

.subs-box .subs-box-title {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  color: #000;
}

.subs-box .subs-box-desc {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.subs-box .subs-box-number {
  text-align: center;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}

.subs-box .file-label {
  max-width: 350px;
  width: 100%;
  height: 50px;
  background: #f3f3f3;
  border: 2px solid #bcbcbc;
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
  color: #d60000;
  padding-top: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.attache-icon {
  margin-left: 70px;
}

.btn-submit-send {
  width: 100%;
  max-width: 350px;
  background: #d60000;
  outline: none;
  border: none;
  font-weight: 700;
  font-size: 17px;
  height: 50px;
  letter-spacing: 0.5px;
  display: block;
  margin: 40px auto 0 auto;
}

.btn-submit-send:hover {
  background-color: #d60000;
}

.btn-submit-send:active {
  background-color: #d60000;
  border: none;
  box-shadow: none;
  outline: none;
  transform: none;
}
